html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.outer-wrapper {
  padding: 15px 15px;
}

@media (min-width: 768px) {
  .outer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .outer-wrapper .game-field-wrapper {
    flex-grow: 1;
    margin: 0 0;
  }
}

.game-field-wrapper {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.game-field-outer {
  width: 100%;

  position: relative;
  padding-top: 100%;
}

.game-field-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}

.game-field-row {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
}

.game-cell {
  flex-grow: 1;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.ball {
  position: absolute;
  padding: 4px;
}

@media (min-width: 480px) {
  .ball {
    padding: 10px;
  }
}

.ball.active {
  /* temporary, will become an animation */
  opacity: 0.5;
}

.ball-marker {
  height: 100%;
  width: 100%;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
}
@media (min-width: 560px) {
  .ball-marker {
    font-size: 22px;
  }
}


.control-buttons {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  padding-top: 15px;
}

.control-buttons > div {
  width: 100%;
  padding-bottom: 5px;
}

@media (min-width: 560px) {
  .control-buttons > div {
    width: auto;
    padding-bottom: 0px;
  }
}

@media (min-width: 768px) {
  .control-buttons {
    padding-top: 0px;
    padding-left: 15px;
    flex-direction: column;
  }

  .control-buttons > div  {
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .max-color-desc-text {
    display: block;
  }
}

.max-color-option {
  display: inline-block;
  padding: 0 2px;
}
.max-color-label {
  display: inline-block;
  padding-left: 3px;
}

@media (min-width: 768px) {
  .info-links a {
    display: block;
  }
}

.info-page-wrapper {
  padding: 15px 15px;
}
